/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_avpchannel   0660    media   media
/dev/tegra_sema	0660	media	media
/dev/tegra_mediaserver	0660 	media 	media
/dev/ov5640	0660	media	camera
/dev/ov9740	0660	media	camera
/dev/ov5650	0660	media	camera
/dev/ov2710	0660	media	camera
/dev/sh532u	0660	media	camera
/dev/tps61050-1	0660	media	camera
/dev/tegra_camera 0660 media   camera
/dev/camera*    0660    media   camera
/dev/focuser*   0660    media   camera
/dev/torch*     0660    media   camera
/dev/ov14810    0660    media   camera
/dev/spdif*	0660	system	audio
/dev/tegra_dc*	0660	system	system
/dev/ttyACM*	0660	radio	system
/dev/mpu        0640    system  system
/dev/mpuirq     0640    system  system
/dev/accelirq   0640    system  system
/dev/timerirq   0640    system  system
/dev/video0     0660    media   camera
/dev/video1     0660    media   camera
/dev/ttyHS3     0660    media   media
/dev/nvhdcp0    0666    system  system
/dev/nvhdcp1    0666    system  system
/dev/tf_driver  0666    system  system
/dev/tegra-crypto       0660    system  system
/dev/block/mmcblk0p7    0660    system  system
/dev/block/mmcblk0p5    0660    system  shell
/dev/ttyUSB*    0660    radio   radio
/dev/qcqmi*     0660    radio   radio
/dev/ttyHS0     0660    system  system
/dev/acer-audio-control	0660	system	audio
